<% provide(:title, 'The Booze') %>

<div class="row">
  <div class="col-md-4">
    <h1><%= @drink.name %></h1>
    <h6>added by <%= link_to @drink.user.username, @drink.user %></h6>
    <h5><%= @drink.rating %></h5>
    <h4><%= @drink.description %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <% @drink.reviews.each do |dr| %>
      <li>
        <%= link_to dr.content, review_path(@drink, dr) %>
        <h6>Reviewed by <strong><%= dr.user.username %></strong></h6>
      </li>
    <% end %>
    <h5><%= link_to "More reviews", drink_reviews_path(@drink) %></h5>
    <h5><%= link_to "Review drink", new_drink_review_path(@drink.id) %></h5>
  </div>
</div>

